In [1]:
# 1. Triangle area (core formula)

#    1. Create variables for `base` and `height` using the same values shown in the PDF.
#    2. Compute `area` using the triangle area formula shown.
#    3. Display `area`.
#    4. Check and display the type of `area`.

base = 10
height = 29
area_of_the_Triangle = (base*height)/2
print(f"Area of a Triangle : {area_of_the_Triangle} , Type is {type(area_of_the_Triangle)}")

Area of a Triangle : 145.0 , Type is <class 'float'>

In [2]:
# 2. Identify number types

#    1. Create one variable like `weight` using a decimal value shown in the PDF.
#    2. Create one variable like `family_members` using an integer value shown in the PDF.
#    3. Display both variables.
#    4. Display the type of each.

weight = 2.9
family_members = 5
print(f"{weight , family_members} , {type(weight) , type(family_members)}")

(2.9, 5) , (<class 'float'>, <class 'int'>)

In [3]:
# 3. Basic arithmetic set

#    1. Create `x` and `y` with the same values as the PDF.
#    2. Compute and display the result of addition.
#    3. Compute and display the result of subtraction.
#    4. Compute and display the result of division.
#    5. Compute and display the result of floor division.
#    6. Compute and display the result of modulo.
#    7. Compute and display the result of exponentiation.

x = 39
y = 40
print(f"addition: {x+y}\nsubtraction: {x-y}\ndivision: {x/y}\nfloor division: {x//y}\nmodulo: {x%y}\nexponentiation: {x**y}")

addition: 79
subtraction: -1
division: 0.975
floor division: 0
modulo: 39
exponentiation: 4391210751020776509051788510566673337277492103548664163388126401

In [4]:
# 4. Operator precedence check

#    1. Evaluate the expression shown in the PDF that mixes addition and multiplication.
#    2. Evaluate the similar expression that uses parentheses.
#    3. Record both results in a Markdown cell (only the final values, no explanation).

x = 5 + 6 - 3 * 4 / 3
y = 5 + 6 - 4 * (5 / 2)
x , y

(7.0, 1.0)

In [5]:
# 5. Type inspection

#    1. Check and display the type of a whole number example from the PDF.
#    2. Check and display the type of a decimal number example from the PDF.

x = 3
y = 4.8
print(type(x) , type(y))

<class 'int'> <class 'float'>

In [6]:
# 6. Scientific notation to number

#    1. Create a variable using the scientific notation format shown (with `e` and a positive exponent).
#    2. Display the variable value.
#    3. Confirm its type.

s = 3e5
print(s , type(s))

300000.0 <class 'float'>

In [7]:
# 7. Another scientific notation example

#    1. Evaluate the `1e4` style expression shown.
#    2. Display the result.
#    3. Confirm the type of the result.

d = 1e4
print(d, type(d))

10000.0 <class 'float'>

In [8]:
# 8. Scientific notation with negative exponent

#    1. Create a variable using the scientific notation format shown (with `e` and a negative exponent).
#    2. Display the value.
#    3. Confirm the type.
f = 2e4
print(f,type(f))

20000.0 <class 'float'>

In [9]:
# 9. Equivalence check for scientific notation

#    1. Reproduce the multiplication form shown that matches the negative exponent scientific notation.
#    2. Display both results (scientific notation version and multiplication version).
#    3. Verify by observation whether they match exactly.

e , t = 3e4 , 3e-4
equiv = 2.3 * (10**-3)
print(e , type(e) ,t , type(t) , equiv , type(equiv))

30000.0 <class 'float'> 0.0003 <class 'float'> 0.0023 <class 'float'>

In [10]:
# 10. Expense total (multi-variable sum)

# 1) Create variables `food`, `rent`, and `utilities` with the same values used in the PDF (as numbers).
# 2) Compute `total` as their sum.
# 3) Display `total`.
# 4) Round the `total` using the rounding method shown and display it.

food=120.34
rent=500.4
utilities=200.5

total = food + rent + utilities
print(total ,",", round(total))

821.24 , 821

In [11]:
# 11. Income, expenses, savings

# 1) Create `income` and `expenses` using the values shown.
# 2) Compute `savings` as shown in the PDF.
# 3) Display `savings`.
# 4) Confirm the type of `savings`.

income=10000
expenses=9000

savings = income - expenses
print(savings , type(savings))

1000 <class 'int'>

In [12]:
# 12. String “numbers” mistake replication

# 1) Create `food` and `rent` exactly as strings (text) like in the PDF example.
# 2) Add them into `total` as shown.
# 3) Display `total`.
# 4) Record in a Markdown cell what you observe about the result (only what you see, no explanation).

food = "120.34"
rent = "500.67"
total = food + rent
total

'120.34500.67'

#### contatination with 2 strings or more is not adding if number init just doing side print and getting a string value

In [13]:
# 13. Fixing string-to-number conversion

# 1) Keep `food` and `rent` as strings exactly like the PDF.
# 2) Convert them to floats using the method shown in the PDF.
# 3) Compute the numeric total and display it.
# 4) Confirm the type of the new total.
food , rent = float(food) , float(rent)
total = food + rent
print(total , type(total))

621.01 <class 'float'>

In [14]:
# 14. Convert multiple values and sum

# 1) Create three numeric-looking strings (use the exact values shown for food/rent/utilities or reuse two and add one more from the PDF).
# 2) Convert each to float.
# 3) Sum them and display the result.
# 4) Round the result and display it.
food = "120.34"
rent = "500.4"
utilities = "200.5"
food , rent , utilities = float(food) , float(rent) , float(utilities)
result = food + rent + utilities
print(result ,",", round(result))

821.24 , 821

In [15]:
# 15. Rounding behavior practice

# 1) Use the exact `total` value you computed from the expenses section.
# 2) Round it using the method shown.
# 3) Store the rounded value in a new variable.
# 4) Display both original and rounded values and their types.

print(total)
print(round(total))
new_val = round(total)
print(total , type(total) , round(total) , type(new_val))

621.01
621
621.01 <class 'float'> 621 <class 'int'>

In [16]:
# 16. Import and use math functions

# 1) Import the `math` module.
# 2) Use the square root function on the exact value shown in the PDF.
# 3) Display the result.

import math
print(math.sqrt(16) ," , ", math.sqrt(56))

4.0  ,  7.483314773547883

In [17]:
# 17. Floor vs ceil

# 1) Use the floor function on the decimal example shown.
# 2) Use the ceil function on the same decimal example.
# 3) Display both results in the same output cell.

a = 13.000001
b = math.floor(a)
c = math.ceil(a)
print(b)
print(c)

13
14

In [18]:
# 18. Use math.pi

# 1) Access `math.pi`.
# 2) Display it.
# 3) Store it into a variable named `pi_value`.
# 4) Display `pi_value` and its type.

import math
print(math.pi)
pi_value  = math.pi
print(pi_value , type(pi_value))

3.141592653589793
3.141592653589793 <class 'float'>

In [19]:
# 19. Explore math module functions

# 1) Run the command shown that lists available names in the math module.
# 2) Pick any three items from the output and write them into a Markdown cell (names only).
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

#### " sin " , " log10 " , " remainder "

In [20]:
# 20. Binary representation of an integer

# 1) Use the formatting method shown to convert the integer in the PDF to binary.
# 2) Display the binary string output.

format(5 , 'b')

'101'

In [21]:
format(4987 , 'b')

'1001101111011'

In [22]:
# 21. Binary conversion for two integers

# 1) Convert the integer from the PDF to binary again.
# 2) Convert a second integer of your choice (must be an integer, not float) to binary using the same method.
# 3) Display both results and label them clearly.
print(format(34,"b"))
print(format(2345,"b"))

100010
100100101001

In [23]:
# 22. Division results comparison

# 1) Using the same `x` and `y` from the PDF, compute normal division and floor division.
# 2) Display both results and their types.
# 3) Record the difference you observe in a Markdown cell (no explanation, only what changes).
x = 50
y = 89
print(f"Division is {y/x} floor division is {y//x}")
print(type(y/x))
print(type(y//x))
#Normal division returns a float  
#Floor division returns an integer

Division is 1.78 floor division is 1
<class 'float'>
<class 'int'>

In [24]:
# 23. Modulo meaning by examples

# 1) Compute `x % y` using the PDF values.
# 2) Compute `y % x` using the same values.
# 3) Display both results.
x = 10
y = 2
print(y%x)
print(x%y)

2
0

In [25]:
# 24. Exponentiation scaling

# 1) Compute `xy` using the PDF values.
# 2) Compute `yx` using the same values.
# 3) Display both results.

x = 10
y = 3

print(x**y)
print(y**x)

1000
59049

In [26]:
# 25. IEEE floating point note (awareness task)

# 1) Create two different decimal computations that could produce long decimal outputs (use the PDF’s division example as one).
# 2) Display the results exactly as Python shows them.
# 3) Write a Markdown note titled “IEEE Floating Point Standard” and list the two outputs you observed (no explanation).

x = 10
y = 3
result1 = x / y

result2 = 0.1 + 0.2

print(result1)

print(result2) # ask google if any doughts

3.3333333333333335
0.30000000000000004

In [27]:
# 26. Create a mini “numbers recap” notebook section

# 1) Add a Markdown heading: “Numbers in Python”.
# 2) Under it, write definitions for Integer and Float using the meaning shown in the PDF.
# 3) Add one example value for each definition (values can be from the PDF).
## Numbers in Python

# **Integer**  
# An integer is a whole number without a decimal point.  
Example: 5

# **Float**  
# A float is a number that contains a decimal point.  
Example: 5.2

In [28]:
# 27. End-to-end mini practice (combined)

# 1) Create base/height and compute triangle area.
# 2) Use that area in a comparison to create a boolean (choose a threshold value).
# 3) Display the area, its type, the boolean, and its type.

base = 19
height = 45
area = (base*height)/2
print("area of a triangle:", area,type(area))
boole = area > 300
print(boole, type(boole))

area of a triangle: 427.5 <class 'float'>
True <class 'bool'>

In [29]:
# 28. Error spotting checklist

# 1) Create a Markdown checklist titled “Common Mistakes From This Lesson”.
# 2) Include: mixing strings with numeric addition, misunderstanding division vs floor division, and scientific notation confusion.
# 3) Under each checklist item, add one task line describing what to test in a code cell (no code).

## Common Mistakes From This Lesson

- [ ] Mixing strings with numeric addition  
  - Test adding two numbers stored as strings and observe the output.

- [ ] Confusing normal division and floor division  
  - Test the result difference between division and floor division using the same values.

- [ ] Confusion with scientific notation  
  - Test a number written using scientific notation and compare it with its expanded form.