In [38]:
# 1. Create basic string variables

#    1. Create a variable `first` with the value `"Mohan"`.
#    2. Create a variable `last` with the value `"Sharma"`.
#    3. Display `first` and display `type(first)`.

first = 'Mohan'
last = 'Sharma'
print(f"{first},{type(first)} ; {last}")

Mohan,<class 'str'> ; Sharma

In [8]:
# 2. Concatenate first and last name

#    1. Create a variable `name` by joining `first`, a single space, and `last` using `+`.
#    2. Display `name`.
#    3. Use `len(name)` and display the result.

name = first +" " + last
print(name)
len(name)

Mohan Sharma

12

In [9]:
# 3. Build an f-string with age

#    1. Create a variable `age` with the value `28`.
#    2. Create a variable `info` using an f-string in this exact format: `'<first> <last> is <age> years old'`.
#    3. Display `info`.

age = 28
info = f"{first} {last} is {age} years old"
info

'Mohan Sharma is 28 years old'

In [11]:
# 4. Index operator practice

#    1. Display the character at index `0` from `name`.
#    2. Display the character at index `1` from `name`.
#    3. Display the character at index `-1` from `name`.

print(name[0])
print(name[1]) # 0 to n-1 like [0:2] 
print(name[-1])

M
o
a

In [36]:
# 5. Slicing practice

#    1. Display `name[0:5]`.
#    2. Display `name[6:]`.
#    3. Display `name[-6:]`.

print(name[0:5])
print(name[6:])
print(name[-6:])

Mohan
Sharma
Sharma

In [15]:
# 6. Index out of range error (intentional)

#    1. Attempt to access `name[12]`.
#    2. Run the cell to trigger the error.
#    3. Copy the exact error message into a Markdown cell under a heading “Index Errors”.

# print(name[12])

<!-- ---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
Cell In[14], line 7
      1 # 6. Index out of range error (intentional)
      2 
      3 #    1. Attempt to access `name[12]`.
      4 #    2. Run the cell to trigger the error.
      5 #    3. Copy the exact error message into a Markdown cell under a heading “Index Errors”.
----> 7 print(name[12])

IndexError: string index out of range -->

In [19]:
# 7. Immutability error (intentional)

#    1. Attempt to change the first character of `name` by assigning `"S"` to `name[0]`.
#    2. Run the cell to trigger the error.
#    3. Copy the exact error message into a Markdown cell under a heading “Immutability Errors”.

# name[0] = "S"

<!-- ---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[18], line 7
      1 # 7. Immutability error (intentional)
      2 
      3 #    1. Attempt to change the first character of `name` by assigning `"S"` to `name[0]`.
      4 #    2. Run the cell to trigger the error.
      5 #    3. Copy the exact error message into a Markdown cell under a heading “Immutability Errors”.
----> 7 name[0] = "S"

TypeError: 'str' object does not support item assignment -->

In [21]:
# 8. Single quotes vs double quotes

#    1. Create a variable `food_story` using double quotes that contains the exact text: `dhaval's favourite food is banana`.
#    2. Display `food_story`.
#    3. Create a variable `s` using single quotes that contains the exact text: `he said "oops"`.
#    4. Display `s`.

food_story = "dhaval's favourite food is banana"
print(food_story)
s = 'he said "oops"'
print(s)

dhaval's favourite food is banana
he said "oops"

In [35]:
# 9. Triple quotes for multiline text

#    1. Create a variable `recipe` using triple quotes containing the exact multi-line dish description shown in the PDF.
#    2. Display `recipe`.
#    3. Print `recipe` to observe how it appears when printed.

recipe = """ Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro."""
recipe

' Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro.'

In [33]:
print(recipe)

 Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro.

In [31]:
# 10. Membership test using `in`

# 1) Create `spice = "cardamom"`.
# 2) Check whether `spice` is in `recipe`.
# 3) Check whether `"milk"` is in `recipe`.
# 4) Display both results.

spice = "cardamom"
print(spice in recipe)
print("milk" in recipe)

True
False

In [3]:
# 11. Replace text inside a string

# 1) Create a variable `s` with the exact text: `patient was charged 100$ for lab test`.
# 2) Replace `100$` with `50$` and store it back into `s`.
# 3) Display the updated `s`.

s = "patient was charged 100$ for lab test"
s = s.replace("100$","50$")
s

'patient was charged 50$ for lab test'

In [14]:
# 12. List available string methods

# 1) Run `dir(s)` on the updated `s`.
# 2) From the output, write down 3 method names into a Markdown cell (names only).

print(dir(s))
print(s.upper())
print(s.split())
print(s.islower())

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
PATIENT WAS CHARGED 50$ FOR LAB TEST
['patient', 'was', 'charged', '50$', 'for', 'lab', 'test']
True

In [19]:
# 13. Convert to uppercase

# 1) Use the uppercase method on the updated `s`.
# 2) Display the result.
print(s.upper())

PATIENT WAS CHARGED 50$ FOR LAB TEST

In [23]:
# 14. Use `isdigit()` on numeric strings

# 1) Check whether `'410'` is a digit string using `isdigit()`.
# 2) Check whether `'410a'` is a digit string using `isdigit()`.
# 3) Display both results.

print('410'.isdigit())
print('410a'.isdigit())

True
False

In [29]:
# 15. Find word position using `index()`

# 1) Using the same `s` string (`patient was charged 50$ for lab test`), find the index of the substring `'was'`.
# 2) Display the returned position.

s = 'patient was charged 50$ for lab test'
print(s.index('was'))
s.find('50')

8

20

In [43]:
# 16. Split tickers

# 1) Create `tickers = "AAPL|NVDA|RIL|GOGL"`.
# 2) Split it using `"|"`.
# 3) Display the resulting list.
# 4) Display the length of the list.

tickers = "AAPL|NVDA|RIL|GOGL"
print(tickers.split("|"))
len(tickers)

['AAPL', 'NVDA', 'RIL', 'GOGL']

18

In [49]:
# 17. Strip spaces

# 1) Create `data = " hey, we have to go there, you coming der ? "`.
# 2) Display `data`.
# 3) Apply `strip()` and display the stripped version.
# 4) Compare the lengths of original and stripped versions using `len()`.

data = " hey, we have to go there, you coming der ? "
print(data)
print(len(data))
data.strip()
print(len(data.strip()))

 hey, we have to go there, you coming der ?
44
42

In [52]:
# 18. Check file extension using `endswith()`

# 1) Create `file_name = "report.pdf"`.
# 2) Check if it ends with `".pdf"` using `endswith()`.
# 3) Display the result.

file_name = "report.pdf"
file_name.endswith(".pdf")

True

In [54]:
# 19. Type error when concatenating string and integer (intentional)

# 1) Create `age = 38` and `text = "my age is:"`.
# 2) Attempt to concatenate using `text + age`.
# 3) Run the cell to trigger the error.
# 4) Copy the exact error message into a Markdown cell under a heading “Concatenation Type Errors”.

age = 38
text = 'my age is:'
# age + text

<!-- ---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[53], line 10
      8 age = 38
      9 text = 'my age is:'
---> 10 age + text

TypeError: unsupported operand type(s) for +: 'int' and 'str' -->

In [57]:
# 20. Fix concatenation using `str()`

# 1) Convert `age` to a string using `str(age)`.
# 2) Concatenate `text` with the converted value.
# 3) Display the final combined string.

final_str = str(age) + text
final_str

'38my age is:'

In [1]:
# 21. Create patient information using f-strings

# 1) Create `height = 65` and `weight = 75`.
# 2) Create `patient_information` using an f-string in this exact format: `Height: <height> cm, Weight: <weight> kg`.
# 3) Display `patient_information`.

height = 65 
weight = 75
print(f"Height: {height} cm, weight: {weight} kg")

Height: 65 cm, weight: 75 kg

In [2]:
# 22. Special characters: tab

# 1) Create `s = "hey\tbro"` exactly.
# 2) Print `s`.
# 3) In a Markdown cell, write what visual change you observe (no explanation).

s = "hey\tbro"
s

'hey\tbro'

#### I observed what ever the quoted inside was written will print the same as it

In [19]:
# 23. Index and slicing combined challenge

# 1) From `name`, extract the last character using negative indexing.
# 2) From `name`, extract the last 6 characters using slicing.
# 3) From `name`, extract the first 5 characters using slicing.
# 4) Display all three results.
name = "Naveenas"
name_negative = name[-1]
print(name_negative)
name_last_characters = name[-6:]
print(name_last_characters)
name_first_characters = name[0:6]
print(name_first_characters)

s
veenas
Naveen

In [22]:
# 24. String immutability workaround

# 1) Create a new string that is the same as `name` but starts with `"S"` instead of the original first character.
# 2) Store it in a new variable.
# 3) Display both the original `name` and the new variable.

new_name = "S" + name[1:]
name
new_name

'Saveenas'

In [21]:
# 25. Mini recap section

# 1) Add a Markdown heading: “Strings Recap”.
# 2) Write a definition for string based on the PDF.
# 3) List 5 string operations or methods demonstrated in the PDF (names only).
# 4) Under each method name, add one task line describing what to test with that method (no code).

## Strings Recap

**String**  
A string is a sequence of characters enclosed in single quotes, double quotes, or triple quotes.

### Common String Methods / Operations

1. len()  
   - Test finding the length of a full name string.

2. replace()  
   - Test replacing a word inside a sentence string.

3. split()  
   - Test splitting a string using a separator like "|".

4. strip()  
   - Test removing leading and trailing spaces from a string.

5. upper()  
   - Test converting a string to uppercase.