In [1]:
# 1. **Create a string variable**

#    1. Create a variable named `can` and assign it the text `"soda"`.
#    2. Display `can` in the notebook output.
#    3. Print `can` using `print()`.

can = "soda"
can

'soda'

In [2]:
print(can)

soda

In [3]:
# 2. **Reassign a variable**

#    1. Using the same `can` variable, change its value to `"beans"`.
#    2. Display `can` again.
#    3. Print `can` again.

can = "beans"
can

'beans'

In [4]:
print(can)

beans

In [5]:
# 3. **Check the type of a variable**

#    1. Use `type()` on `can`.
#    2. Display the result.

x = type(can)
print(x)

<class 'str'>

In [6]:
# 4. **Create an integer variable**

#    1. Create a variable `pizza` and assign it the value `100`.
#    2. Display `pizza`.
#    3. Check and display `type(pizza)`.

pizza = 100
print(pizza)
y = type(pizza)
print(y)

100
<class 'int'>

In [7]:
# 5. **Create float and integer variables**

#    1. Create a variable `samosa` with value `20.5`.
#    2. Create a variable `ice_cream` with value `100`.
#    3. Display `samosa` and `ice_cream`.
#    4. Check and display the type of each variable.

samosa, ice_cream = 20.5, 100

samosa
ice_cream
s = type(samosa)
i = type(ice_cream)
print(f"{s}\n{i}")

<class 'float'>
<class 'int'>

In [8]:
# 6. **Compute a total using variables**

#    1. Create a variable `total` equal to `pizza + samosa + ice_cream`.
#    2. Display `total`.
#    3. Check and display `type(total)`.

total = pizza + samosa + ice_cream
print(total)
print(type(total))

220.5
<class 'float'>

In [9]:
# 7. **Create a boolean from a comparison**

#    1. Create a variable `above_thresold` equal to the expression `total > 200`.
#    2. Display `above_thresold`.
#    3. Check and display `type(above_thresold)`.

above_thresold = total > 200
print(above_thresold)
print(type(above_thresold))

True
<class 'bool'>

In [10]:
# 8. **Write definitions as notebook markdown**

#    1. Add a Markdown cell.
#    2. Write a definition for **Integer** exactly as described in the PDF.
#    3. Write a definition for **Float** exactly as described in the PDF.
#    4. Write a definition for **String** exactly as described in the PDF.
#    5. Write a definition for **Boolean** exactly as described in the PDF.

### **Integer**  
#### A whole number without a decimal point.

### **Float**  
#### A number that contains a decimal point.

### **String**  
#### A sequence of characters enclosed in quotes.

### **Boolean**  
#### A data type that represents True or False.

In [11]:
# 9. **Create one example for each data type**

#    1. Create one variable that is an integer (whole number, no decimal).
#    2. Create one variable that is a float (has a decimal point).
#    3. Create one variable that is a string (text).
#    4. Create one variable that is a boolean (True/False).
#    5. For each variable, display its value and its type using `type()`.

var = 18
flo = 18.18
stri = "Naveen"
boole = True
print(f" {var,type(var)} \n {flo,type(flo)} \n {stri,type(stri)} \n {boole,type(boole)}")

 (18, <class 'int'>)
 (18.18, <class 'float'>)
 ('Naveen', <class 'str'>)
 (True, <class 'bool'>)

In [12]:
# 10. **Demonstrate “Everything is an Object” via assignment**

# 1) Create a variable `foo` with the string value `'jalebi'`.
# 2) Display `foo`.
# 3) Create `bar` by assigning it to `foo`.
# 4) Display `bar`.

foo = "jalebi"
print(foo)
bar = foo # copy of a variable
print(bar)

jalebi
jalebi

In [13]:
# 11. **Compare object identity (ids)**

# 1) Use `id(foo)` and display the result.
# 2) Use `id(bar)` and display the result.
# 3) Confirm by observation whether `foo` and `bar` initially point to the same object.

print(id(foo))
print(id(bar))
# 3.Yes

2589487099808
2589487099808

In [14]:
# 12. **Reassign and re-check object identity**

# 1) Reassign `bar` to the string `'samosa'`.
# 2) Display `bar`.
# 3) Display `id(bar)`.
# 4) Display `foo` again.
# 5) Display `id(foo)` again.
# 6) Observe whether changing `bar` changed `foo`.

bar = "samosa"
print(bar)
print(id(bar))
print(foo)
print(id(foo))
# 6. Changes of there id numbers

samosa
2589487101296
jalebi
2589487099808

In [15]:
# 13. **Reserved keyword naming error (intentional)**

# 1) In a new cell, attempt to assign a number to `True` exactly in the format shown in the PDF.
# 2) Run the cell to produce the error.
# 3) Record the exact error message in a Markdown cell (copy it from the output).

# True = 1

  <!-- Cell In[51], line 7
    True = 1
    ^
SyntaxError: cannot assign to True -->

In [16]:
# 14. **Reserved keyword naming error with `def` (intentional)**

# 1) In a new cell, attempt to assign a string to a variable named `def` exactly as shown in the PDF.
# 2) Run the cell to produce the error.
# 3) Record the exact error message in a Markdown cell.

# def = "Naveen"

 <!-- Cell In[55], line 7
    def = "Naveen"
        ^
SyntaxError: invalid syntax -->

In [17]:
# 15. **Special character error with `$` (intentional)**

# 1) In a new cell, attempt to create a variable named `$name` and assign a string exactly like the PDF.
# 2) Run the cell to produce the error.
# 3) Record the exact error message in a Markdown cell.

# $name = "Naveen"

  <!-- Cell In[57], line 7
    $name = "Naveen"
    ^
SyntaxError: invalid syntax -->

In [18]:
# 16. **Special character error with `^` (intentional)**

# 1) In a new cell, attempt to assign `100` to a variable name that includes `^` exactly like the PDF.
# 2) Run the cell to produce the error.
# 3) Record the exact error message in a Markdown cell.

# ^pizza = 100

  <!-- Cell In[58], line 7
    ^pizza = 100
    ^
SyntaxError: invalid syntax -->

In [19]:
# pizza^ = 100

<!-- Cell In[58], line 7
    ^pizza = 100
    ^
SyntaxError: invalid syntax -->

In [20]:
# 17. **Name starting with a number error (intentional)**

# 1) In a new cell, attempt to assign a string to `4you` exactly as shown in the PDF.
# 2) Run the cell to produce the error.
# 3) Record the exact error message in a Markdown cell.

# 4you = "Naveen"

<!-- Cell In[60], line 7
    4you = "Naveen"
    ^
SyntaxError: invalid decimal literal -->

In [21]:
# 18. **Another `$` naming error (intentional)**

# 1) In a new cell, attempt to assign a string to `$address` exactly like the PDF.
# 2) Run the cell to produce the error.
# 3) Record the exact error message in a Markdown cell.

# $address = "Naveen"

  <!-- Cell In[62], line 7
    $address = "Naveen"
    ^
SyntaxError: invalid syntax -->

In [22]:
# 19. **Invalid character in the middle (intentional)**

# 1) In a new cell, attempt to assign `6` to `abc$xyz` exactly as shown in the PDF.
# 2) Run the cell to produce the error.
# 3) Record the exact error message in a Markdown cell.

# abc$xyz = 6

  <!-- Cell In[63], line 7
    abc$xyz = 6
       ^
SyntaxError: invalid syntax -->

In [23]:
# 20. **Apply variable naming rule: begin with letter or underscore**

# 1) Create one valid variable name that begins with an underscore `_` and assign it a value.
# 2) Display the variable and its type.
# 3) Create one valid variable name that begins with a letter and assign it a value.
# 4) Display the variable and its type.

_Naveen = 18
print(_Naveen, type(_Naveen))
a = 10
print(a, type(a))

18 <class 'int'>
10 <class 'int'>

In [25]:
# 21. **Apply variable naming rule: allowed remaining characters**

# 1) Create three variables whose names include a mix of letters and digits (but do not start with a digit).
# 2) Create three variables whose names include underscores `_`.
# 3) Display each variable and its type.

one1two2three = 18
one_two_three = 38
print(f"{one1two2three} , {type(one1two2three)}\n{one_two_three} , {type(one_two_three)}")
# ( or )
# item1 = 10
# value2 = 20
# score3 = 30

# # names with underscores
# user_name = "Naveen"
# total_amount = 99.5
# is_active_user = True

# # display values and types
# print(item1, type(item1))
# print(value2, type(value2))
# print(score3, type(score3))

# print(user_name, type(user_name))
# print(total_amount, type(total_amount))
# print(is_active_user, type(is_active_user))

18 , <class 'int'>
38 , <class 'int'>

In [26]:
# 22. **Build a small “shopping total” workflow**

# 1) Create variables for three items (one integer price, one float price, one integer price).
# 2) Add them into a `total` variable.
# 3) Create a boolean variable that checks whether your total is greater than `200`.
# 4) Display the total and the boolean value.
# 5) Display the types of both.

one_item = 23
two_item = 18.8
three_item = 30

total = one_item + two_item + three_item
check_bool = total > 200

print(total)
print(check_bool)

print(type(total))
print(type(check_bool))

71.8
False
<class 'float'>
<class 'bool'>

In [27]:
# 23. **Reassignment impact on type**

# 1) Create a variable with an integer value.
# 2) Display its type.
# 3) Reassign the same variable to a string value.
# 4) Display its type again.
# 5) Reassign the same variable to a float value.
# 6) Display its type again.

var = 30
print(type(var))

var = "Naveen"
print(type(var))

var = 20.3
print(type(var))

<class 'int'>
<class 'str'>
<class 'float'>

In [31]:
# 24. **Print vs direct display**

# 1) Create a string variable with any text.
# 2) Show it by placing the variable name alone in a cell.
# 3) Show it again using `print()` in the same cell or a different cell.
# 4) Note the difference in formatting by writing a short observation in Markdown (no explanation of why—just what you notice).

str = "Naveen"

str
# print(str)

'Naveen'

In [29]:
print(str)

Naveen

#### When using the variable name in a cell, Jupyter displays the value with quotes.
#### When using print(), it displays only the value without quotes.
#### In different cells, the behavior remains the same.

In [34]:
# 25. **Object identity across multiple references**

# 1) Create a string variable `foo` with any string value.
# 2) Create `bar = foo`.
# 3) Create `baz = foo`.
# 4) Display `id(foo)`, `id(bar)`, and `id(baz)` each on separate lines/cells.
# 5) Reassign only `bar` to a different string.
# 6) Display the ids again for `foo`, `bar`, and `baz`.

foo = "Naveen"
bar = foo
baz = foo
print(id(foo) , id(bar) , id(baz))
bar = "Pandu"
print(id(foo) , id(bar) , id(baz))

2589487103888 2589487103888 2589487103888
2589487103888 2589487547520 2589487103888

In [36]:
# 26. **Type-checking a computed expression**

# 1) Create two numeric variables (one int, one float).
# 2) Add them into a new variable.
# 3) Display the result and its type.
# 4) Create a boolean variable using a comparison on that result (greater than some number).
# 5) Display the boolean and its type.

one_var = 23
one_flo = 23.4

new_var = one_var + one_flo

print(new_var,type(new_var))

com_var = 20 > new_var
print(com_var , type(com_var))

46.4 <class 'float'>
False <class 'bool'>

In [ ]:
# 27. **Create a “rules checklist” cell**

# 1) Add a Markdown cell titled “Variable Naming Rules”.
# 2) Write the four rules exactly as described in the PDF (paraphrase is allowed, but keep meaning identical).
# 3) Under each rule, add one example variable name that follows the rule (do not include invalid examples here).

## Variable Naming Rules
"""
1. A variable name must not start with a number.
   Example: variable, value1

2. A variable name must start with a letter (uppercase or lowercase) or an underscore (_).
   Example: Avariable, _variable

3. A variable name can contain letters, numbers, and underscores only.
   Example: var2iable, var_iable

4. Variable names cannot use Python reserved keywords.
   Example: total, name

"""

In [ ]:
# 28. **Error collection notebook section**

# 1) Create a new Markdown heading: “Common Variable Naming Errors”.
# 2) Under it, list each of the invalid examples shown in the PDF.
# 3) For each one, run it in its own code cell (one invalid statement per cell).
# 4) Under each code cell, add a Markdown cell where you copy the exact error text produced.

## Common Variable Naming Errors
"""
Using Python reserved keywords or built-in names as variable names will cause errors or unexpected behavior.
"""
#### True = 1
#### False = 0
#### def = "function"
#### str = "Name"
#### bool = True

In [41]:
# 29. **Mini audit of your notebook variables**

# 1) Choose any 6 variables you created in earlier tasks.
# 2) For each variable, display its value and type.
# 3) Reassign three of them to different values (change at least one to a different type).
# 4) Display their updated value and type.

a = 6
b = "Naveen"
c = 4.5
d = True
e = "samosa"
f = 'cric'
print(a,type(a),b,type(b),c,type(c),d,type(d),e,type(e),f,type(f))
c = 45
e = 34
f = 4432
print(c,type(c),e,type(e),f,type(f))

6 <class 'int'> Naveen <class 'str'> 4.5 <class 'float'> True <class 'bool'> samosa <class 'str'> cric <class 'str'>
45 <class 'int'> 34 <class 'int'> 4432 <class 'int'>

In [42]:
# 30. **Replicate the PDF sequence (advanced replication task)**

# 1) In order, recreate the same variable creation and reassignment flow shown in the PDF for: `can`, `pizza`, `samosa`, `ice_cream`, `total`, `above_thresold`.
# 2) After each major step, display the value and the type exactly at the points where the PDF checks them.
# 3) Ensure you include at least one direct display (variable alone in a cell) and at least one `print()` display.
can = "soda"
can
print(can)
type(can)

can = "beans"
can
print(can)
type(can)

pizza = 100
samosa = 20.5
ice_cream = 100

total = pizza + samosa + ice_cream
total
type(total)

above_thresold = total > 200
above_thresold
type(above_thresold)

soda
beans

bool